{% extends 'base.html'%}
{% load static %}
 
{% block title %} About {% endblock %}

{% block content %}
<div class="p-3 m-3">
    <div class="container ml-sm-3 ml-lg-auto">
        <h3 class="text-center">All About Us</h3>

        <div class="row p-4">
            <div class="col-lg-8 col-m-6 col-sm-6">
                <p>
                    Welcome to our greenhouse, where we cultivate an abundance of healthy and vibrant plants. 
                    Our mission is to provide our customers with the highest quality plants, while reducing 
                    our environmental impact and promoting sustainable farming practices.
                </p>
                <p>
                    Our greenhouse is equipped with state-of-the-art technology, allowing us to maintain a 
                    controlled environment that optimizes plant growth and health. From exotic flowers to 
                    fresh herbs, we grow a wide variety of plants using natural and sustainable methods.
                </p>
                <p>
                    We are passionate about preserving the environment and reducing our carbon footprint. 
                    That's why we use eco-friendly materials, such as organic soil and natural fertilizers, 
                    to nurture our plants. We also implement energy-efficient practices, including solar power 
                    and water recycling, to minimize our environmental impact.
                </p>
                <p>
                    Our team of expert horticulturists and plant enthusiasts are committed to providing our 
                    customers with exceptional service and care. Whether you're an experienced gardener or 
                    just starting out, we're here to offer advice and support to help you cultivate a thriving garden.
                </p>
                <p>
                    At our greenhouse, we believe in the healing power of plants and the positive impact they 
                    have on our well-being. That's why we're dedicated to providing our customers with the 
                    freshest, healthiest plants available. Come visit us and discover the beauty and benefits 
                    of our greenhouse-grown plants
                </p>
            </div>
            <div class="col-lg-4 col-m-6 col-sm-6">
                <img src="https://images.unsplash.com/photo-1533038590840-1cde6e668a91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" width=100%% style="object-fit: cover !important; gap=15px;">
            </div>
        </div>

    </div>
</div>



{% endblock %}